.page-header{
    text-align: center;
    background-image: url(../images/cube.jpg);
    background-repeat: no-repeat;
    /* margin: 0px; */
    margin-top: 20px;
    padding: 10px;
    font-size: 90px;
    /* height: 300px; */
}

body{
    background-image: url(../images/throwdice.jpeg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
}

input, select, textarea{
    color: #f00;
}